.header h1 {
  font-size: 100px;
}

.main-page {
  max-width: 100%;
  margin: 0 auto;
  
}
.card {
  background-color: #f7f7f7;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.card-name {
  font-size: 20px;
  font-weight: bold;
}
.card-image {
  border-radius: 50px;
}

.action-btn {
  background-color: green;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.action-btn:hover {
  background-color: green;
  font-weight: 600;
}
.form-container {
  max-width: 600px;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-width: 200px;
  width: 100%;
  margin: 10px 0;
}
button {
  background-color: #4caf50;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
}
.car {
  background-color: green;
  color: white;
  text-align: center;
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
}
.news {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 20px;
  width: 100%;
}
.news-item {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  max-width: 500px;
}

/* Medium Devices (Tablets, 768px and up) */
@media (max-width: 768px) {
  .header h1 {
    font-size: 70px; /* Reduce header font size */
  }

  .card {
    padding: 15px; /* Reduce padding */
  }

  .action-btn {
    padding: 12px 28px; /* Adjust padding */
    font-size: 14px; /* Reduce font size */
  }

  .form-container {
    max-width: 90%; /* Reduce form container width */
    padding: 20px;
  }

  .news {
    padding: 40px 10px; /* Adjust padding */
  }

  .news-item {
    padding: 15px; /* Adjust padding */
    max-width: 100%; /* Allow news items to use full width */
  }
}

/* Small Devices (Mobile Phones, 480px and up) */
@media (max-width: 480px) {
  .header h1 {
    font-size: 50px; /* Further reduce header font size */
  }
.card {
    padding: 10px; /* Further reduce padding */
  }

  .action-btn {
    padding: 10px 20px; /* Further adjust padding */
    font-size: 12px; /* Further reduce font size */
  }

  .form-container {
    max-width: 100%; /* Allow form container to use full width */
    padding: 15px;
  }

  .news {
    padding: 30px 5px; /* Further adjust padding */
  }

  .news-item {
    padding: 10px; /* Further adjust padding */
  }
}
